[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = ">=1.0.1"
Faker         = ">=33.3.1"
fastapi       = ">=0.115.6"
brotli-asgi   = ">=1.4.0"
zstd-asgi     = ">=0.2"
Hypercorn     = ">=0.17.3"
uvicorn       = ">=0.34.0"
httpx         = ">=0.28.1"


[dev-packages]                  # As of 2023-12-18.
ruff = ">=0.0.287"              # Extremely fast Python linter.  Use this as the default.

[requires]
python_version = ">=3.11.5"

[scripts]
helloworld = "python -c \"print('Hello World. Ran from: pipenv run helloworld')\""
