[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fs = ">=2.4"
PyYAML = ">=6.0"
python-dotenv = ">=1.0"
python-dateutil = ">=2.8"
pydantic = ">=1.10"
fastapi = ">=0.105"
brotli-asgi = ">=1.4"
hypercorn = ">=0.15"
httpx = {version = ">=0.25", extras = ["http2"]}

# Optional production cloud specific packages.
# Install using:  pipenv install [package] --catgeories cloud_logger cloud_secret
#
# DON'T install multiple vendors.  Install ONLY one.

[cloud_logger]
#infisical = ">=1.2"
#google-cloud-logging = ">=3.5"
#boto3 = ">=1.26"
#oci = ">=2.104"

[cloud_secret]
#google-cloud-secret-manager = ">=2.16"
#boto3 = ">=1.26"
#oci = ">=2.104"

# Developement tools.
# Install using:  pipenv install [package] --dev

[dev-packages]                  # As of 2023-12-18.
pre-commit = ">=3.4.0"          # Git pre-commit hook.
podman-compose = ">=1.0.6"      # Use podman to launch 'docker-compose.yml' file.
bandit = ">=1.7.5"              # Security issues scanner.
mypy = ">=1.5.1"                # Static type checker for Python.
ruff = ">=0.0.287"              # Extremely fast Python linter.  Use this as the default.
vulture = ">=2.9.1"             # Dead code scanner.
pytest = ">=7.4.0"              # Unit testing framework.
coverage = ">=7.3.1"            # Measure code coverage.
hatch = ">=1.7.0"               # The build tool.
faker = ">=20.0.3"              # Test data faker.

[requires]
python_version = ">=3.11.0"

[scripts]
helloworld = "python -c \"print('Hello World. Ran from: pipenv run helloworld')\""
